
{{ ansible_managed | comment }}

{% for rule in postgres__hba_rules %} {#начинает цикл по нашему списку правил из defaults/main.yml#}
{{ rule.type }} {{ rule.database }} {{ rule.user }} {{ rule.method }} {#подставляет его значения через пробел#}
{% endfor %}

{#{{ ... }} - вывести значение, {% ... %} - выполнить например цикл#}