{{ ansible_managed | comment }}
{#  строка подключения пользователь, пароль, адрес, порт и база, из переменной окружения DATA_SOURCE_NAME#}
DATA_SOURCE_NAME="postgresql://{{ postgres__exporter_db_user | urlencode | replace('/', '%2F') }}:{{ postgres__exporter_db_password | urlencode | replace('/', '%2F') }}@127.0.0.1:{{ postgres__opts.port | default(5432) }}/postgres?sslmode=disable"